<!DOCTYPE html>
<html>
  <head>
    <title>Saasapp</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet"> <!--Removed http/https from the link, not needed and it makes it more flexible -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class='container'>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <%= link_to root_path, class: "navbar-brand" do  %> <!-- "/" means home directory -->
            <i class="fa fa-group"></i>
            DevMatch
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact Us", new_contact_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>
    
    <div class="container">
      <!--for each flash message, pass in type and msg temp variables -->
      <% flash.each do |type, msg| %> <!-- for each in the flash list (success, danger as seen in the contacts_controller file). The flash list has key value pairs -->
        <%= content_tag :div, msg, class: "alert alert-#{type}" %> <!--create a div tag, pass in the message and assign it the appropriate class type, e.g. success or danger -->
      <% end %>
    </div>
    <%= yield %> <!-- This is where rails pulls in the code from the other views files, e.g. the home.html file-->
    
  </body>
</html>
